body{
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.morning{
    width: 100%;
    height: 100vh;
background: rgb(255, 231, 20);
color: black;
}

.day{
    width: 100%;
    height: 100vh;
background: rgb(255, 187, 0);
color: rgb(255, 126, 126);
}

.night{
    width: 100%;
    height: 100vh;
    background: black;
    color: grey;
}
